
.start-page{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), 
      url('../../public/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.content {
    color : white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  .title {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: white;
  }
  
  .learn-more-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 123, 255, 0.2);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .learn-more-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
  }
  
  @media (max-width: 768px) {
    .title {
      font-size: 2rem;
    }
  
    .description {
      font-size: 1rem;
    }
  
    .learn-more-button {
      padding: 8px 16px;
      font-size: 0.9rem;
    }
  }
  